h1{text-align:center;}
h1,p {font-family:verdana}
div{
  width:30%;
  float:left;
  background-color:#d8d8d8;
  border:1px solid black;
  padding:10px;
  margin:5px;
}
h3{
  text-align:center;
  float:right;
  width:30%;
  border:1px solid black;
  padding:-3px;
  margin:-11px;
}
.chicken{background-color:#a57b43}
.beef{background-color:#e27405}
.sushi{background-color:#cccc00}
@media screen and (max-width: 991px){
div{
  width:46.7%;
  float:center;
  background-color:#d8d8d8;
  border:1px solid black;
  padding:1%;
  margin:0.5%;
}
h3{
  text-align:center;
  float:right;
  width:30%;
  border:1px solid black;
  padding:-3px;
  margin:-8.7px;
}
.divsushi{
  width:97%;
  background-color:#d8d8d8;
  border:1px solid black;
  padding:1%;
  margin:0.5%;
}
}
@media screen and (max-width: 767px){
div{
  width:97%;
  float:left;
  background-color:#d8d8d8;
  border:1px solid black;
  padding:1%;
  margin:0.5%;
}
h3{
  text-align:center;
  float:right;
  width:30%;
  border:1px solid black;
  padding:-3px;
  margin:-1.2%;
}
}
