h1{text-align:center;}
h1,p {font-family:verdana}
div{
  width:30%;
  float:left;
  background-color:#d8d8d8;
  border:1px solid black;
  padding:1%;
  margin:0.5%;
}
h3{
  text-align:center;
  float:right;
  width:20%;
  border:1px solid black;
  padding:0.5%;
  margin:-3.5%;
}
.chicken{background-color:#a57b43}
.beef{background-color:#e27405}
.sushi{background-color:#cccc00}
@media screen and (max-width: 991px){
}
@media screen and (max-width: 767px){
}
